<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.retail.mapper.OrderMapper">


    <select id="insertOrder" parameterType="com.example.retail.model.Order" resultType="java.lang.Integer">
        DECLARE @orderId int;

        SET @orderId =
        ISNULL((SELECT max(order_id)
        FROM
        orders),0) + 1

        INSERT INTO
        orders values (@orderId, #{itemName}, #{quantity})

        SELECT @@identity
    </select>

    <select id="getItems" resultType="java.lang.String">
        select itemName from orders
    </select>

</mapper>